/* GENERAL CSS*/ 
body {
    height: 100%;
    font-family: craw-modern-urw, serif;
    background-image: url(desk.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    opacity: 0.85;

}    

h1 {
    color: #0b5d1e;
    text-align: center;
    font-size: 500%;
    font-family: craw-modern-urw, serif;
    font-weight: 400;
    font-style: normal;
}

.card-title {
    color: #0b5d1e;
}

/* .btn {
    
} */

#task-title{
    color: #b71c1c;
} 

